Examples/*.jar
_book
node_modules/
bin/
project/project/
project/target/
target/
tmp/
classes/
.cache
.classpath
.project
.settings
*.class
.DS_Store
user.lock
*.aux
*.fls
*.idx
*.ilg
*.ind
*.log
*.toc
*.fdb_latexmk
*.bak
